#footer0{
    background-color: rgba(0, 0, 0, 0.2);
}
#navbarSupportedContent{
    margin-left: 35%;
}

@media only screen and (max-width: 992px) { 
    #navbarSupportedContent{
        margin: 0%;
    }

    #login{

        margin: 0%;
    }
    
     }