body {
    background-color: #f3f3f3;
}
#footer0{
    background-color: rgba(0, 0, 0, 0.2);
}
#navbarSupportedContent{
    margin-left: 30%;
}
.wish_div{
    margin-right: 100px;
    margin-right: 0%;
}
.div_cart{
    padding: 10%;
    padding-top: 5%;
}

.div_container{
    background-color: #474747;
    margin: 3px;
    border: 2px solid rgba(116, 116, 116, 0.3);
}
.div_container_order{
    padding: 3%;
    border: 2px solid rgba(116, 116, 116, 0.3);
}
.div_edit_product{
    padding: 2%;
}
.lable_form{
    margin-top: 2%;
}
.btn_form{
    margin-top: 3%;
    text-align: center;
}
.p_Delivery{
    margin-top: 5%;
    margin-bottom: 0;
    font-weight: bold;
}
.add_del_cart{
    margin: 3%;
    width: 30%;
}
#total{
    margin-top: 5%;
    text-align: center;
}
#VAT_total{
    text-align: center;
   
}
.h_cart{
    text-align: center;
}

.products_card{

padding: 50px;
padding-left: 200px;
padding-right: 150px;
margin-left: 10%;
display: grid;
row-gap: 120px;
column-gap: 260px;
grid-template-columns: 1fr 1fr;
}

.card_e{
border: 5px solid rgba(97, 97, 97, 0.3);
border-radius: 10px 10px 10px 10px;
}

.card_d{
border: 5px solid rgba(97, 97, 97, 0.3);
border-radius: 10px 10px 10px 10px;
}

.card-title{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    margin-top: 6%;
    margin-bottom: 20%;
}

.filter_price_button{
    border: none;
    margin-top: 1%;
    background-color: white;
}

#div_filter {
    background-color: white;
    width: 15%;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border-right: 5px solid rgba(97, 97, 97, 0.3);
    border-top: 5px solid rgba(97, 97, 97, 0.3);
    border-bottom: 5px solid rgba(97, 97, 97, 0.3);
    border-radius: 0px 10px 10px 0px;
    position: absolute;
}

.div_footer{
    position: sticky;
}


.filter_hr{
margin-right: 20%;
border: 1px solid black;
border-radius: 4px 4px 4px 4px;
margin-top: 2%;
margin-bottom: 2%;
}

.form-check{
    margin-top: 1%;
}
.form-control{
    margin-top: 2%;
}
#button_filter{
    margin-top: 2%;
    width: 100%;
}

.card_btn{
    width: 100%;
    margin-top: 1%;
}
.page-link{
    color: black;
}
.card_price{
margin-right: 5%;
font-weight: bold;

}

.card_img{
    margin-left: 4%;
    margin-bottom: 5%;

}
.filter_rating{
    font-weight: bold;
    }

.card-img-top{
    border-bottom: 1px solid rgba(97, 97, 97, 0.2);;
    padding: 10%;
    width: 100%;
}
.navbar-brand{
    margin-left: 1%;}

.card{
    transition: transform .5s;
}

.card:hover{
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transform: scale(1.05); 
}
.Details{
    height: 445px;

}
.Details_btn{
    width: 100%;
    border: none;
}

.wish_card{
    padding: 50px;
padding-left: 250px;
padding-right: 250px;
display: grid;
row-gap: 120px;
column-gap: 260px;
grid-template-columns: 1fr 1fr;
}
.loginDiv,.p{
    
    text-align: center;
}

.badge {
    padding-left: 5px;
    padding-right: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .label-warning[href],
  .badge-warning[href] {
    background-color: #c67605;
  }
  #lblCartCount {
      font-size: 12px;
      background: #ff0000;
      color: #fff;
      padding: 0 5px;
      vertical-align: top;
      margin-left: -15px; 
  }

.h_wish{
    text-align: center;
margin: 10%;
}

.login{
    margin: 4%;}

.continer {
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgb(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: white;
}

.continer,
.form_input {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form-hidden,
.m-hidden {
    display: none;
}

.form>*:first-child {
    margin-bottom: 1rem;
}

.form_title {
    margin-bottom: 2rem;
    text-align: center;
}

.form_message {
    text-align: center;
    margin-bottom: 0;
}

.form_message-success {
    color: var(--color-susccess);
}

.form_message-error {
    color: red;
}
.headerImg{
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns:  50% 70%;
    grid-gap: 10px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .img{

        background-color: rgba(255, 255, 255, 0.8);
        text-align: center;
        padding: 40px 0;
        font-size: 30px;
  }

  .womenImg{
      width: 80%;
      height: 90%;
  }

  .womenImg:hover{
    width: 82%;
    height: 92%;
}

  .menImg{
    width: 62%;
    height: 92%;
  }
  .jewelleryImg:hover{
    width: 82%;
    height: 92%;
  }
  .jewelleryImg{
    width: 80%;
    height: 90%;
  }

  .electronicImg{
    width: 60%;
    height: 100%;
  }
  .electronicImg:hover{
    width: 62%;
    height: 102%;
  }
  .womenText{
    color: black;
    position: absolute;
    top: 110%;
    left: 25%;
    font-size: 40px;
    transform: translate(-50%, -50%);
    background-color: #f3f3f3;

  }

  .menText{
    color: black;
    position: absolute;
    top: 110%;
    left: 67%;
    font-size: 40px;
    transform: translate(-50%, -50%);
    background-color: #f3f3f3;

  }

  .jewelleryText{
    color: black;
    position: absolute;
    top: 165%;
    left: 25%;
    font-size: 40px;
    transform: translate(-50%, -50%);
    /* background-color: rgb(191, 197, 104); */
    background-color: #f3f3f3;

  }
  

  .electronicText{
    color: black;
    position: absolute;
    top: 165%;
    left: 66%;
    font-size: 40px;
    transform: translate(-50%, -50%);
    background-color: #f3f3f3;

  }
.form_input_group {
    margin-bottom: 1rem;
}

.form_input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid white;
    outline: white;
    transition: background 0.2s, border-color0.2s;
}

.form_input:focus {
    border-color: var(--color-primary);
    background: white;
}

.form_input_error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form_input_error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form_button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: black;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form_button:hover {
    background: var(--color-primary-dark);
}

.form_button:active {
    transform: scale(0.98);
}

.form_text {
    text-align: center;
}

.form_link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form_link:hover {
    text-decoration: underline;
}

 @media only screen and (max-width: 1000px) {
    .products_card{

        padding: 20px;
        padding-left: 300px;
        padding-right: 80px;
        margin-left: 10%;
        display: grid;
        row-gap: 50px;
        column-gap: 0px;
        grid-template-columns: 1fr;
        } 
        .wish_card{
            padding: 50px;
            padding-left: 350px;
            padding-right: 350px;
            display: grid;
            row-gap: 120px;
            grid-template-columns: 1fr;
        }
        #div_filter {
            width: 30%;

        }

}

@media only screen and (max-width: 600px) { 
    .products_card{

        padding: 20px;
        padding-left: 200px;
        padding-right: 80px;
        margin-left: 10%;
        display: grid;
        row-gap: 50px;
        column-gap: 0px;
        grid-template-columns: 1fr;
        } 

        #div_filter {
            width: 40%;

        }
        .card_e{
            height: 107%;
        }
        

 }


 








